@tailwind utilities;

/* 🎨 Variables globales de color */
:root {
  --color-peach-light: #fce3cc;
  --color-peach-lighter: #fdf3eb;
  --color-peach: #f8b27e;
  --color-orange-dark: #c16135;
  --color-orange-light: #e48e55;
  --color-brown-light: #633219;
}

.sacramento-regular {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}


.primary-button {
  background-color: var(--color-orange-dark);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.secondary-button {
  background-color: var(--color-peach-light);
  color: var(--color-orange-dark);
  border: 1px solid var(--color-orange-dark);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* 🟠 Fondo degradado personalizado */
.bg-orange-gradient {
  background: linear-gradient(to bottom, var(--color-peach-light), var(--color-peach));
}
.bg-darkorange {
  background: linear-gradient(var(--color-orange-dark));
}

.color-orange-dark {
  color: var(--color-orange-dark);
}

.color-brown-light {
  color: var(--color-brown-light);
}

.bttn-gradient {
  background: linear-gradient(to right, var(--color-orange-dark), var(--color-orange-light));
}
/* 🔘 Botón degradado */
.background-orange-dark {
}

/* styles.css o global.css */
.custom-menu .ant-menu-item {
  color: white; /* texto normal */
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.custom-menu .ant-menu-item:hover {
  background-color: #d97706; /* hover */
  color: white;
}

.custom-menu .ant-menu-item-selected {
  background-color: #ea580c; /* seleccionado */
  color: white;
}

/* Fondo y texto para las opciones seleccionadas */
.custom-select .ant-select-item-option-selected {
  background-color: var(--color-orange-dark) !important;
  color: white !important;
}

/* Color del ícono de check al lado de la opción seleccionada */
.custom-select .ant-select-item-option-selected .ant-select-item-option-state {
  color: white !important;
}


.custom-table .ant-table-thead > tr > th {
  background-color: #ffe9d9;
  color: #c16135;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.ant-table-thead > tr > th {
  background-color: #ffedcc; /* cambia fondo */
  color: #c16135;            /* cambia color de texto */
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

/* 🎨 Scrollbar global estilizada */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-peach-lighter); /* fondo de la pista */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-orange-dark); /* color de la barra */
  border-radius: 10px;
  border: 1px solid var(--color-peach-lighter); /* opcional: borde para contraste */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-orange-light); /* color al pasar el mouse */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-orange-dark) var(--color-peach-lighter);
}
